html {
    --main-bg-color: #f7fcff;
    --inner-bg-color: #ffffff;
    --rule-bg-color: #f7fcff;
    /* #d8eff7*/
    --overall-font-size: 16px;
    
    font-size: var(--overall-font-size);
    background-color: var(--main-bg-color);
}

a {
    color: black;
}

input {
    font-size: 12px;
}

div.main_container {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    flex-direction: column;
    background-color: var(--inner-bg-color);
    min-width: 8cm;
    padding: 3px;
    max-height: 15cm;
    overflow: auto;
}

div.main_header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

div.header_link {
    flex-grow: 1;
}

div.main_title {
    flex-grow: 2;
    text-align: left;
}

li.main_list {
    margin: 3px;
    list-style-type: none;
}

div.rule_outer {
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    margin: 5px;
    background-color: var(--rule-bg-color);
    padding: 1px;
}

div.rule_cat {
    max-width: 30%;
    margin: 3px;
    padding: 1px;
    background-color: var(--rule-bg-color);
}

div.rule_content_container {
    display: flex;
    flex-direction: row;
}

div.rule_content {
    margin: 3px;
}

#add_button_container {
    text-align: center;
}

#add_button {
    width: 24px;
    height: 24px;
}