html {
    background-color: #fcfdff;
}

a {
    color: black;
}

div.main_container {
    display: flex;
    border-style: solid;
    border-width: 2px;
    flex-direction: column;
    background-color: #fcfdff;
    min-width: 8cm;
    padding: 3px;
    max-height: 15cm;
    overflow: auto;
}

div.main_header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

div.header_link {
    flex-grow: 1;
}

div.main_title {
    flex-grow: 2;
    text-align: left;
}

li.main_list {
    list-style-type: none;
}

div.rule_outer {
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    background-color: #b5c6e6;
    padding: 1px;
}

div.rule_cat {
    border-style: solid;
    border-width: 1px;
    padding: 1px;
}

div.rule_content_container {
    display: flex;
    flex-direction: row;
}

div.rule_content {
    margin: 5px;
}